using Modulith.SharedKernel.Domain;

namespace Modulith.NewModule.Domain.Entities;

public class {{EntityName}} : Entity
{
    private {{EntityName}}() { } // For EF Core

    public static {{EntityName}} Create(Guid id)
    {
        return new {{EntityName}}
        {
            Id = id,
            CreatedAt = DateTime.UtcNow
        };
    }

    public void Update()
    {
        UpdatedAt = DateTime.UtcNow;
    }
} 